:root{
    --themeOne: #05445E;
    --themeTwo: #189AB4;
    --themeThree: #75E6DA;
    --themeFour: #D4F1F4;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--themeFour);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.cat{
    height: 30vh;
    width: 30vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.cat img{
    object-fit: contain;
    height: 30vh;
    width: 30vw;
}

.body{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 30vw;
}

.form{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    background-color: var(--themeTwo);
    border-radius: 20px;
    outline: solid 7px black;
    height: 60vh;
    width: 30vw;
}