body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
input, select{
    font-size: 2vh;
    border-radius: 50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
}
select{
    font-size: 2vh;
    padding: 12px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.name, .birthGender{
    display: flex;
    gap: 1vw;
    justify-content: flex-start;
}

.labelInput{
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}
.first, .last{
    width: 45%;
}
.body{
    height: 70vh;
    width: 70vw;
    display: flex;
    align-items:center;
    align-self: center;
    border: thick solid black;
    border-radius: 50px;
}
.hero{
    width: 50%;
}
.heroImage{
    width: 100%;
}
.formBundle{
    width: 50%;
}